body{
    background-color: beige;
}
.conteiner{
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-top: 5%;
}
h3{
    position: relative;
    width: 60%;
    margin-left: 3%;
}
.nav{
    position: relative;
    background-color: white;
    margin-top: 3%;
    margin-right: 3%;
    width: 8%;
    height: 0%;
    padding-bottom: 7%;
}